.list {
    list-style: none;
    padding: 0px;
    margin: 10px 0px;
}

.list__element {
    padding: 10px;
    border-bottom: 2px solid  #ebe9e9;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.list__element--hidden {
    display: none;
}

.list__buttons {
    min-height: 27px;
    min-width: 27px;
    max-height: 27px;
    max-width: 27px;
    border: none;
    background-color: #e21c43;
    color: white;
    transition: 0.5s;
}

.list__buttons:hover {
    background-color: #eb3b5e;
}

.list__buttons--status {
    background-color: green;
    transition: 0.5s;
}

.list__buttons--status:hover {
    background-color: rgb(3, 153, 3);
}

.list__buttons:active {
    border: solid 1px #414141;
}

.list__content {
    text-align: left;
    width: 100%;
    padding: 5px 15px;
}

.list__content--done {
    text-decoration: line-through;
}

